 
 <html>
     <head>
         <title>Reaktor pre-assignment</title>
         <link rel = "stylesheet" href = "../static/styles/frontpage.css">
     </head>
     <body> 
             <div class= "container">
             {% if errorMessage %}
             <p>{{errorMessage}}</p>
             {% endif %}
       <p class = "guideText">You may upload your own status file. Filename has to be either status or status.real</p>
         <form action="/handleUpload" method="post" enctype="multipart/form-data">
             Choose the file: <input type="file" name="statusFile"/><BR>
                 <input type="submit" value="Upload"/>
         </form>
         <p> You may also use the default status file </p>
         <form action="/packages" >
                 <input type="submit" value="Default status"/>
         </form>
      </div>
     </body>
 </html>
                                                    
