
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href= "../static/styles/index.css">
    </head>
    <body>
            <div class = "container">
            <a href="{{url_for('fileFrontPage')}}">
             <button tpye="button" >Back to frontpage</button>
            </a>
        <tbody>
                {% for package in packages %}
                    <ul class = "packageList">
                            <li>
                                    <a href="{{url_for('singlePackage', packageName = package.name)}}">  {{ package.name }} </a>
                            </li>
                    </ul>
                {% endfor %}
        </tbody>
            </div>
    </body>
</html>
