<html>
  <head>
    <title>{{ package.name }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/package.css"
      media="all"
    />
  </head>
  <body>
    <div class="container">
      <a href="{{url_for('allPackages')}}"
        ><button type="button">Back to index</button>
      </a>
      <h2>{{ package.name }}</h2>

      {% if package.descriptionBeginning%}
      <button type="button" class="collapsible">More</button>
      <div class="shortDescriptionContent">
        <pre>{{ package.descriptionBeginning}}</pre>
      </div>
      <div class="allDescriptionContent">
        <pre>{{package.descriptionAll}}</pre>
      </div>
      {% endif %} {% if package.dependencyLinks%}
      <p><b>Dependencies</b></p>
      <ul class="dependencyList">
        {% for dependency in package.dependencyLinks%}
        <li>
          {%for name,href in dependency.content%} {% if href%}
          <a href="{{href}}">
            {{name}}
          </a>
          {% else %} {{name}} {% endif%} {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% if package.dependantLinks%}
      <p><b>dependants</b></p>
      <ul class="dependantList">
        {% for dependant in package.dependantLinks%}

        <li>
          {%for name,href in dependant.content%} {% if href%}
          <a href="{{href}}">
            {{name}}
          </a>
          {% else %} {{name}} {% endif%} {% endfor %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var descriptionAll = document.getElementsByClassName(
            "allDescriptionContent"
          )[0];
          var descriptionShort = document.getElementsByClassName(
            "shortDescriptionContent"
          )[0];
          if (descriptionAll.style.display === "block") {
            descriptionAll.style.display = "none";
            descriptionShort.style.display = "block";
          } else {
            descriptionAll.style.display = "block";
            descriptionShort.style.display = "none";
          }
        });
      }
    </script>
  </body>
</html>
