<html>
    <head>
            <title> {{ package.name }} </title>
<style>
*{
        font-family:helvetica;
}
body{
        background-color:#5CDB95
}
.content{
        display: none;
}
.container{
    text-align:center;
    display: table;
    margin: auto;
    padding: 10px;
    border: 3px Gray; 
    background-color: #05386B;
    border-radius:10px;

}
p{
        color:#EDF5E1
}
.dependencyList, .dependantList{
    list-style-type:none;
    background-color:#379683;
    color:#EDF5E1;
    padding: 5px;
    border-radius:10px;
   
    
}


</style>
    </head>
        <body>
                <div class = "container">

                        <a href="{{url_for('allPackages')}}"><button type="button">Back to index</button> </a>
            <h2>{{ package.name }} </h2>

            <p>{{ package.descriptionBeginning}} </p>
            <button type="button" class="collapsible">More </button>
            <div class="content">
                    <p>{{package.descriptionRest}} </p>
            </div>
                <p>Dependencies</p>
                {% for dependency in package.dependencies%}
                    <ul class = "dependencyList">
                            <a href="{{url_for('singlePackage', packageName = dependency)}}"><li> {{ dependency}}</li></a>
                    </ul>
                {% endfor %}
                <p>dependants</p>
                {% for dependant in package.dependants%}
                    <ul class = "dependantList">
                            <a href="{{url_for('singlePackage', packageName = dependant)}}"><li> {{ dependant }}</li></a>
                    </ul>
                {% endfor %}
                </div>
                <script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++){
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
    </body>
</html>
