*{
    font-family: helvetica;

}
.container{
        margin: auto;
        padding: 10px;
        border: 3px Gray;
        background-color:#dcac98;
        border-radius: 25px;
        display: table;
}

body{
        background-color:#eee2dc8f;
}

p,form {
        color:#0c0909;
}

