*{
    font-family: helvetica;

}
.container{
        margin: auto;
        padding: 10px;
        border: 3px Gray;
        background-color: #05386B;
        border-radius: 25px;
        display: table;
}

body{
        background-color:#5CDB95;
}

p,form {
        color:#EDF5E1
}

