*{
   font-family:helvetica;
}


body{
    background-color:#eee2dc8f;
}

.container{
    text-align:center;
    display: table;
    margin: auto;
    padding: 10px;
    border: 3px Gray;
    background-color:#dcac98;
    border-radius:10px;
    width:50%;
}
.packageList{
    list-style-type:none;
    background-color:#ec7266;
    color:#EDF5E1;
    padding: 5px;
    border-radius:10px;
}
a:link {
        color:black;
}  
