*{
   font-family:helvetica;
}


body{
    background-color:#5CDB95
}

.container{
    text-align:center;
    display: table;
    margin: auto;
    padding: 10px;
    border: 3px Gray;
    background-color: #05386B;
    border-radius:10px;
}
.packageList{
    list-style-type:none;
    background-color:#379683;
    color:#EDF5E1;
    padding: 5px;
    border-radius:10px;
}
a:link {
        color:black;
}  
